.container {
  background-color: #f9f9f9;
  padding: 10px;
  width: calc(100% - 20px);
}

.full {
  width: calc(100% - 20px);
}

.narrow {
  width: calc((100% - 30px) / 3);
}

.wide {
  width: calc((100% - 15px) / 2);
}
